<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout-admin :: layout-fragment(
							~{::title},
							~{::content},
							null,
							~{:: #additionalJs},
							'user-admin'
							)}">
<head>
	<title th:text="#{application.title-pattern(#{application.name}, #{user.label.plural}+' - '+#{userAdmin.add.label})}"></title>
</head>
<body>

	<div th:fragment="content">

		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			<h1 class="h2" th:text="#{userAdmin.add.label}">Add user</h1>
		</div>

		<div th:replace="~{fragments/messages :: messages-fragment(${messages})}"></div>

		<form th:object="${user}" th:action="@{/user-admin/save}" action="#" method="post" autocomplete="off">

			<div class="row">
				<label class="col-sm-2 col-form-label text-end">
					<span class="required">*</span>
					<span th:text="#{user.username.label}">Username</span>
				</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{username}" class="form-control" th:classappend="${#fields.hasErrors('username')} ? is-invalid">
					<div class="invalid-feedback" th:if="${#fields.hasErrors('username')}" th:each="err : ${#fields.errors('username')}" th:text="${err}">validation error</div>
				</div>
			</div>

			<div class="row mt-3">
				<label class="col-sm-2 col-form-label text-end">
					<span class="required">*</span>
					<span th:text="#{user.password.label}">Password</span>
				</label>
				<div class="col-sm-10">
					<input type="password" th:field="*{password}" class="form-control" th:classappend="${#fields.hasErrors('password')} ? is-invalid">
					<div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:each="err : ${#fields.errors('password')}" th:text="${err}">validation error</div>
				</div>
			</div>

			<div class="row mt-3">
				<label class="col-sm-2 col-form-label text-end">
					<span class="required">*</span>
					<span th:text="#{user.repeatPassword.label}">Repeat password</span>
				</label>
				<div class="col-sm-10">
					<input type="password" th:field="*{repeatPassword}" class="form-control" th:classappend="${#fields.hasErrors('repeatPassword')} ? is-invalid">
					<div class="invalid-feedback" th:if="${#fields.hasErrors('repeatPassword')}" th:each="err : ${#fields.errors('repeatPassword')}" th:text="${err}">validation error</div>
				</div>
			</div>

			<div class="row mt-3">
				<label class="col-sm-2 col-form-label text-end">
					<span class="required">*</span>
					<span th:text="#{user.fullName.label}">Full name</span>
				</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{fullName}" class="form-control" th:classappend="${#fields.hasErrors('fullName')} ? is-invalid">
					<div class="invalid-feedback" th:if="${#fields.hasErrors('fullName')}" th:each="err : ${#fields.errors('fullName')}" th:text="${err}">validation error</div>
				</div>
			</div>

			<div class="row mt-3">
				<label class="col-sm-2 col-form-label text-end">
					<span th:text="#{user.enabled.label}">Enabled</span>
				</label>
				<div class="col-sm-10 col-form-label">
					<div class="form-check">
						<input type="checkbox" th:field="*{enabled}" class="form-check-input" id="enabled">
						<label class="form-check-label" for="enabled"></label>
					</div>
					<div class="invalid-feedback" th:if="${#fields.hasErrors('enabled')}" th:each="err : ${#fields.errors('enabled')}" th:text="${err}">validation error</div>
				</div>
			</div>

			<div class="row mt-3">
				<label class="col-sm-2 col-form-label text-end">
					<span th:text="#{user.authorities.label}">Authorities</span>
					<span class="far fa-question-circle text-muted help-icon" id="help_authorities"></span>
				</label>
				<div class="col-sm-10 col-form-label">
					<div class="form-check" th:each="auth : ${allAuthorities}">
						<input type="checkbox" th:field="*{authorities}" th:value="${auth}" class="form-check-input" th:id="${'authorities_'+auth}">
						<label class="form-check-label" th:for="${'authorities_'+auth}" th:text="${#messages.msg('user.authorities.'+auth+'.label')}"></label>
					</div>
					<div class="invalid-feedback" th:if="${#fields.hasErrors('authorities')}" th:each="err : ${#fields.errors('authorities')}" th:text="${err}">validation error</div>
				</div>
			</div>
			<div class="row" id="help_authorities_content" style="display: none;">
				<div class="offset-sm-2 col-sm-10">
					<div class="alert alert-light help-box">
						<span class="text-dark far fa-question-circle fa-lg mt-2 me-3 mb-3"></span>
						<p th:text="#{user.authorities.ROLE_USER.label}">User</p>
						<ul>
							<li th:text="#{user.authorities.ROLE_USER.help1}">Help 1</li>
							<li th:text="#{user.authorities.ROLE_USER.help2}">Help 2</li>
						</ul>
						<p th:text="#{user.authorities.ROLE_ADMIN.label}">Administrator</p>
						<ul>
							<li th:text="#{user.authorities.ROLE_ADMIN.help1}">Help 1</li>
							<li th:text="#{user.authorities.ROLE_ADMIN.help2}">Help 2</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="row mt-3">
				<label class="col-sm-2 col-form-label text-end">
					<span th:text="#{user.groups.label}">Groups</span>
				</label>
				<div class="col-sm-10">
					<select th:field="*{groups}" class="form-control groups-input" size="4" multiple="multiple">
						<option th:each="group : ${allGroups}" th:value="${{group}}" th:text="${group.name}">[name]</option>
					</select>
					<div class="invalid-feedback" th:if="${#fields.hasErrors('groups')}" th:each="err : ${#fields.errors('groups')}" th:text="${err}">validation error</div>
				</div>
			</div>

			<div class="row mt-3">
				<div class="offset-sm-2 col-sm-10">
					<span class="required">*</span> <span th:text="#{default.form.required}">required</span>
				</div>
			</div>

			<div class="row mt-2 mb-2">
				<div class="offset-sm-2 col-sm-10">
					<input type="submit" class="btn btn-primary" th:value="#{default.button.save.label}" value="Save">
					<a th:href="@{/user-admin/list}" class="btn btn-outline-secondary" th:text="#{default.button.cancel.label}">Cancel</a>
				</div>
			</div>

		</form>

	</div>

	<th:block id="additionalJs">
		<script th:src="@{/js/user-admin-create.js}"></script>
	</th:block>

</body>
</html>
