<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout-admin :: layout-fragment(
							~{::title},
							~{::content},
							null,
							~{:: #additionalJs},
							'user-admin'
							)}">
<head>
	<title th:text="#{application.title-pattern(#{application.name}, #{user.label.plural})}"></title>
</head>
<body>

	<div th:fragment="content">

		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			<h1 class="h2" th:text="#{user.label.plural}">Users</h1>
			<div class="btn-toolbar mb-2 mb-md-0">
				<div class="btn-group me-2">
					<a th:href="@{/user-admin/create}" class="btn btn-sm btn-outline-secondary" th:text="#{userAdmin.add.label}">Add user</a>
				</div>
			</div>
		</div>

		<div th:replace="~{fragments/messages :: messages-fragment(${messages})}"></div>

		<div class="row">
			<div class="col-sm-10">
				<button id="search-button" class="btn btn-outline-secondary mb-2 me-2" th:if="${!searchParams.hasParams()}" th:title="#{default.search.filterEntries.label}"><em class="fas fa-search"></em></button>
				<button id="search-button" class="btn btn-primary mb-2 me-2" th:if="${searchParams.hasParams()}" th:title="#{default.search.filterEntries.label}"><em class="fas fa-search"></em></button>

				<span class="badge bg-secondary" th:if="${#strings.isEmpty(searchParams.name)==false}">
					<span th:text="#{userAdmin.search.name.label}">Name</span>: <span th:text="${searchParams.name}">[searchParams.name]</span>
				</span>
				<span class="badge bg-secondary" th:if="${searchParams.group!=null}">
					<span th:text="#{userAdmin.search.group.label}">Group</span>: <span th:text="${searchParams.group.name}">[searchParams.group.name]</span>
				</span>
				<span class="badge bg-secondary" th:if="${searchParams.enabledSearchType!=null}">
					<span th:text="${#messages.msg('userAdmin.search.enabled.'+searchParams.enabledSearchType.name()+'.label')}"></span>
				</span>
				<span class="badge bg-secondary" th:if="${searchParams.lockedSearchType!=null}">
					<span th:text="${#messages.msg('userAdmin.search.locked.'+searchParams.lockedSearchType.name()+'.label')}"></span>
				</span>
				<span class="badge bg-secondary" th:if="${searchParams.newRegisteredSearchType!=null}">
					<span th:text="${#messages.msg('userAdmin.search.newRegistered.'+searchParams.newRegisteredSearchType.name()+'.label')}"></span>
				</span>
			</div>
			<div class="col-sm-2">
				<div th:replace="~{fragments/paging :: pagesize-fragment(availablePagesizes=${availablePagesizes}, currentSize=${page.size})}"></div>
			</div>
		</div>

		<div class="card mb-3" id="search-card" style="display: none;">
			<div class="card-body">
				<h5 class="card-title" th:text="#{default.search.filterEntries.label}">Filter entries</h5>
				<form th:object="${searchParams}" th:action="@{/user-admin/search}" action="#" method="post" autocomplete="off">

					<div class="row mt-3">
						<label class="col-sm-2 col-form-label text-end" th:text="#{userAdmin.search.name.label}">Name</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" th:field="*{name}">
						</div>
						<label class="col-sm-2 col-form-label text-end" th:text="#{userAdmin.search.group.label}">Group</label>
						<div class="col-sm-4">
							<select th:field="*{group}" class="form-control">
								<option value=""></option>
								<option th:each="grp : ${allGroups}" th:value="${{grp}}" th:text="${grp.name}"></option>
							</select>
						</div>
					</div>
					<div class="row mt-3">
						<label class="col-sm-2 col-form-label text-end" th:text="#{user.enabled.label}">Enabled</label>
						<div class="col-sm-2">
							<select th:field="*{enabledSearchType}" class="form-control">
								<option value=""></option>
								<option th:each="ty : ${searchParams.ALL_AVAILABLE_ENABLED_SEARCH_TYPES}" th:value="${{ty}}" th:text="${#messages.msg('userAdmin.search.enabled.'+ty.name()+'.label')}"></option>
							</select>
						</div>
						<label class="col-sm-2 col-form-label text-end" th:text="#{user.locked.label}">Locked</label>
						<div class="col-sm-2">
							<select th:field="*{lockedSearchType}" class="form-control">
								<option value=""></option>
								<option th:each="ty : ${searchParams.ALL_AVAILABLE_LOCKED_SEARCH_TYPES}" th:value="${{ty}}" th:text="${#messages.msg('userAdmin.search.locked.'+ty.name()+'.label')}"></option>
							</select>
						</div>
						<label class="col-sm-2 col-form-label text-end" th:text="#{userAdmin.search.newRegistered.label}">New registered</label>
						<div class="col-sm-2">
							<select th:field="*{newRegisteredSearchType}" class="form-control">
								<option value=""></option>
								<option th:each="ty : ${searchParams.ALL_AVAILABLE_NEW_REGISTERED_SEARCH_TYPES}" th:value="${{ty}}" th:text="${#messages.msg('userAdmin.search.newRegistered.'+ty.name()+'.label')}"></option>
							</select>
						</div>
					</div>

					<div class="row mt-3">
						<div class="offset-sm-2 col-sm-10">
							<input type="submit" class="btn btn-primary" th:value="#{default.button.search.label}" value="Search">
							<button type="button" id="search-button-delete-parameters" class="btn btn-outline-secondary" th:text="#{default.search.button.deleteParameters.label}">Delete parameters</button>
						</div>
					</div>

				</form>
			</div>
		</div>

		<table class="table table-bordered">
			<thead>
				<tr>
					<th scope="col" class="clickable" data-sort-prop="username" th:text="#{user.username.label}">Username</th>
					<th scope="col" class="clickable" data-sort-prop="fullName" th:text="#{user.fullName.label}">Full name</th>
					<th scope="col" class="clickable" data-sort-prop="enabled" th:text="#{user.enabled.label}">Enabled</th>
					<th scope="col" class="clickable" data-sort-prop="locked" th:text="#{user.locked.label}">Locked</th>
					<th scope="col" th:text="#{user.authorities.label}">Authorities</th>
					<th scope="col" th:text="#{default.table.operations.label}">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${#lists.isEmpty(page.content)}">
					<td colspan="6" class="text-center" th:text="#{default.table.empty.text}">Data can not be found.</td>
				</tr>
				<tr th:each="user : ${page.content}">
					<td>
						<span th:text="${user.username}">[username]</span>
						<span class="badge rounded-pill bg-secondary" th:if="${user.newRegistered}">New</span>
					</td>
					<td>
						<span th:text="${user.fullName}">[fullName]</span>
					</td>
					<td>
						<em th:if="${user.enabled}" class="far fa-check-circle"></em>
						<em th:if="${!user.enabled}" class="fas fa-exclamation-circle text-danger"></em>
					</td>
					<td>
						<em th:if="${user.locked}" class="fas fa-lock"></em>
					</td>
					<td>
						<div th:each="authority : ${user.authorities}" th:text="${#messages.msg('user.authorities.'+authority+'.label')}">[authority]</div>
					</td>
					<td>
						<div class="btn-group">
							<a th:href="@{/user-admin/show/{id}(id=${user.id})}" class="btn btn-outline-secondary btn-sm" th:text="#{default.button.show.label}">Show</a>
							<button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="sr-only">Toggle Dropdown</span>
							</button>
							<div class="dropdown-menu dropdown-menu-end">
								<a th:href="@{/user-admin/edit/{id}(id=${user.id})}" class="dropdown-item" th:text="#{default.button.edit.label}">Edit</a>
								<a href="" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteModal" th:attr="data-id=${user.id}" th:text="#{default.button.delete.label}">Delete</a>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>

		<div th:replace="~{fragments/paging :: paging-fragment(controller='user-admin', page=${page}, currentItems=${currentItems}, sortProperty=${sortProperty}, sortDesc=${sortDesc})}"></div>

		<div th:replace="~{fragments/dialogs :: deleteDialog-fragment(id='deleteModal', controller='user-admin', title=#{userAdmin.deletePopup.title}, question=#{userAdmin.deletePopup.question})}"></div>

		<script th:inline="javascript">
			/*<![CDATA[*/
			var sortProperty = /*[[${sortProperty}]]*/ null;
			var sortDesc = /*[[${sortDesc}]]*/ null;
			var currentPage = /*[[${page.number}]]*/ 0;
			var pageSize = /*[[${page.size}]]*/ 0;
			var sortParam = sortProperty + ',' + (sortDesc ? 'desc' : 'asc');
			/*]]>*/
		</script>

	</div>

	<th:block id="additionalJs">
		<script th:src="@{/js/user-admin-list.js}"></script>
	</th:block>

</body>
</html>