<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout-admin :: layout-fragment(
							~{::title},
							~{::content},
							null,
							~{:: #additionalJs},
							'user-admin'
							)}">
<head>
	<title th:text="#{application.title-pattern(#{application.name}, #{user.label.plural}+' - '+#{userAdmin.show.label})}"></title>
</head>
<body>

	<div th:fragment="content">

		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			<h1 class="h2">
				<span th:text="#{userAdmin.show.label}">Show user</span>:
				<span th:text="${user.username}">[username]</span>
			</h1>
			<div class="btn-toolbar mb-2 mb-md-0">
				<div class="btn-group me-2">
					<a th:href="@{/user-admin/edit/{id}(id=${user.id})}" class="btn btn-sm btn-outline-secondary" th:text="#{default.button.edit.label}">Edit</a>
				</div>
				<div class="btn-group me-2">
					<a href="" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" th:attr="data-id=${user.id}" th:text="#{default.button.delete.label}">Delete</a>
				</div>
			</div>
		</div>

		<div th:replace="~{fragments/messages :: messages-fragment(${messages})}"></div>

		<div class="row" th:if="${user.username!=null}">
			<label class="col-sm-2 test-end" th:text="#{user.username.label}">Username</label>
			<div class="col-sm-10" th:text="${user.username}">[username]</div>
		</div>

		<div class="row mt-3" th:if="${user.fullName!=null}">
			<label class="col-sm-2 test-end" th:text="#{user.fullName.label}">Full name</label>
			<div class="col-sm-10" th:text="${user.fullName}">[fullName]</div>
		</div>

		<div class="row mt-3">
			<label class="col-sm-2 col-form-label test-end">
				<span th:text="#{user.enabled.label}">Enabled</span>
			</label>
			<div class="col-sm-10 col-form-label">
				<div class="form-check">
					<input type="checkbox" th:field="${user.enabled}" class="form-check-input" id="enabled" disabled="disabled">
					<label class="form-check-label" for="enabled"></label>
				</div>
			</div>
		</div>

		<div class="row mt-3">
			<label class="col-sm-2 col-form-label test-end">
				<span th:text="#{user.locked.label}">Locked</span>
			</label>
			<div class="col-sm-10 col-form-label">
				<div class="form-check">
					<input type="checkbox" th:field="${user.locked}" class="form-check-input" id="locked" disabled="disabled">
					<label class="form-check-label" for="locked"></label>
				</div>
			</div>
		</div>

		<div class="row mt-3">
			<label class="col-sm-2 col-form-label test-end">
				<span th:text="#{user.authorities.label}">Authorities</span>
				<span class="far fa-question-circle text-muted help-icon" id="help_authorities"></span>
			</label>
			<div class="col-sm-10 col-form-label">
				<div th:each="authority : ${user.authorities}" th:text="${#messages.msg('user.authorities.'+authority+'.label')}">[authority]</div>
			</div>
		</div>
		<div class="row" id="help_authorities_content" style="display: none;">
			<div class="offset-sm-2 col-sm-10">
				<div class="alert alert-light help-box">
					<span class="text-dark far fa-question-circle fa-lg mt-2 me-3 mb-3"></span>
					<p th:text="#{user.authorities.ROLE_USER.label}">User</p>
					<ul>
						<li th:text="#{user.authorities.ROLE_USER.help1}">Help 1</li>
						<li th:text="#{user.authorities.ROLE_USER.help2}">Help 2</li>
					</ul>
					<p th:text="#{user.authorities.ROLE_ADMIN.label}">Administrator</p>
					<ul>
						<li th:text="#{user.authorities.ROLE_ADMIN.help1}">Help 1</li>
						<li th:text="#{user.authorities.ROLE_ADMIN.help2}">Help 2</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="row mt-3">
			<label class="col-sm-2 col-form-label test-end">
				<span th:text="#{user.groups.label}">Groups</span>
			</label>
			<div class="col-sm-10 col-form-label">
				<div th:each="group : ${user.groups}" th:text="${group.name}">[name]</div>
			</div>
		</div>

		<div th:replace="~{fragments/dialogs :: deleteDialog-fragment(id='deleteModal', controller='user-admin', title=#{userAdmin.deletePopup.title}, question=#{userAdmin.deletePopup.question})}"></div>

	</div>

	<th:block id="additionalJs">
		<script th:src="@{/js/user-admin-show.js}"></script>
	</th:block>

</body>
</html>