<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout-admin :: layout-fragment(
							~{::title},
							~{::content},
							null,
							null,
							'contact'
							)}">
<head>
	<title th:text="#{application.title-pattern(#{application.name}, #{contact.label.plural}+' - '+#{contact.show.label})}"></title>
</head>
<body>

	<div th:fragment="content">

		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			<h1 class="h2">
				<span th:text="#{contact.show.label}">Show contact</span>:
				<span th:text="${contact.name}">[name]</span>
				<span th:if="${contact.archived}" class="badge bg-secondary" th:text="#{default.archived.label}">Archived</span>
			</h1>
			<div class="btn-toolbar mb-2 mb-md-0">
				<div class="btn-group me-2">
					<a th:href="@{/contact/edit/{id}(id=${contact.id})}" class="btn btn-sm btn-outline-secondary" th:text="#{default.button.edit.label}">Edit</a>
				</div>
				<div class="btn-group me-2">
					<a href="" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" th:attr="data-id=${contact.id}" th:text="#{default.button.delete.label}">Delete</a>
				</div>
			</div>
		</div>

		<div th:replace="~{fragments/messages :: messages-fragment(${messages})}"></div>

		<div class="row">
			<label class="col-sm-2 text-end" th:text="#{contact.name.label}">Name</label>
			<div class="col-sm-10" th:text="${contact.name}">[name]</div>
		</div>

		<div th:replace="~{fragments/dialogs :: deleteDialog-fragment(id='deleteModal', controller='contact', title=#{contact.deletePopup.title}, question=#{contact.deletePopup.question})}"></div>

	</div>

</body>
</html>