<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout :: layout-fragment(
							~{::title},
							~{::content},
							null,
							null,
							'document'
							)}">
<head>
	<title th:text="#{application.title-pattern(#{application.name}, #{document.label.plural}+' - '+#{document.edit.label})}"></title>
</head>
<body>

	<div th:fragment="content">

		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			<h1 class="h2">
				<span th:text="#{document.edit.label}">Edit document</span>:
				<span th:text="${document.title}">[title]</span>
			</h1>
		</div>

		<div th:replace="~{fragments/messages :: messages-fragment(${messages})}"></div>

		<form th:object="${document}" th:action="@{/document/update}" action="#" method="post" autocomplete="off">
			<input type="hidden" th:field="*{id}"/>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label text-right">
					<span class="required">*</span> <span th:text="#{document.title.label}">Title</span>
				</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{title}" class="form-control" th:classappend="${#fields.hasErrors('title')} ? is-invalid">
					<div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:each="err : ${#fields.errors('title')}" th:text="${err}">validation error</div>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label text-right">
					<span class="required">*</span> <span th:text="#{document.documentType.label}">Document type</span>
				</label>
				<div class="col-sm-10">
					<select th:field="*{documentType}" class="form-control" th:classappend="${#fields.hasErrors('documentType')} ? is-invalid">
						<option value=""></option>
						<option th:each="ty : ${allDocumentTypes}" th:value="${{ty}}" th:text="${ty.name}"></option>
					</select>
					<div class="invalid-feedback" th:if="${#fields.hasErrors('documentType')}" th:each="err : ${#fields.errors('documentType')}" th:text="${err}">validation error</div>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label text-right">
					<span th:text="#{document.dateOfIssue.label}">Date of issue</span>
					<span class="far fa-question-circle text-muted help-icon" id="help_dateOfIssue"></span>
				</label>
				<div class="col-sm-10">
					<input type="date" th:field="*{dateOfIssue}" class="form-control" th:classappend="${#fields.hasErrors('dateOfIssue')} ? is-invalid">
					<div class="invalid-feedback" th:if="${#fields.hasErrors('dateOfIssue')}" th:each="err : ${#fields.errors('dateOfIssue')}" th:text="${err}">validation error</div>
				</div>
			</div>
			<div class="form-group row" id="help_dateOfIssue_content" style="display: none;">
				<div class="offset-sm-2 col-sm-10">
					<div class="alert alert-light help-box">
						<span class="help-box-icon far fa-question-circle fa-lg mt-2 mr-3 mb-3"></span>
						<p th:text="#{document.dateOfIssue.help}">Help text</p>
					</div>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label text-right">
					<span th:text="#{document.tags.label}">Tags</span>
				</label>
				<div class="col-sm-10">
					<select th:field="*{tags}" class="form-control select2-multiple" size="4" multiple="multiple">
						<option th:each="tag : ${allTags}" th:value="${{tag}}" th:text="${tag.name}">[name]</option>
					</select>
					<div class="invalid-feedback" th:if="${#fields.hasErrors('tags')}" th:each="err : ${#fields.errors('tags')}" th:text="${err}">validation error</div>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label text-right">
					<span th:text="#{document.sender.label}">Sender</span>
				</label>
				<div class="col-sm-10">
					<select th:field="*{sender}" class="form-control" th:classappend="${#fields.hasErrors('sender')} ? is-invalid">
						<option value=""></option>
						<option th:each="contact : ${allContacts}" th:value="${{contact}}" th:text="${contact.name}"></option>
					</select>
					<div class="invalid-feedback" th:if="${#fields.hasErrors('sender')}" th:each="err : ${#fields.errors('sender')}" th:text="${err}">validation error</div>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label text-right">
					<span th:text="#{document.receiver.label}">Receiver</span>
				</label>
				<div class="col-sm-10">
					<select th:field="*{receiver}" class="form-control" th:classappend="${#fields.hasErrors('receiver')} ? is-invalid">
						<option value=""></option>
						<option th:each="contact : ${allContacts}" th:value="${{contact}}" th:text="${contact.name}"></option>
					</select>
					<div class="invalid-feedback" th:if="${#fields.hasErrors('receiver')}" th:each="err : ${#fields.errors('receiver')}" th:text="${err}">validation error</div>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label text-right">
					<span th:text="#{document.documentBox.label}">Document box</span>
					<span class="far fa-question-circle text-muted help-icon" id="help_documentBox"></span>
				</label>
				<div class="col-sm-10">
					<select th:field="*{documentBox}" class="form-control" th:classappend="${#fields.hasErrors('documentBox')} ? is-invalid">
						<option value=""></option>
						<option th:each="box : ${allDocumentBoxes}" th:value="${{box}}" th:text="${box.name}"></option>
					</select>
					<div class="invalid-feedback" th:if="${#fields.hasErrors('documentBox')}" th:each="err : ${#fields.errors('documentBox')}" th:text="${err}">validation error</div>
				</div>
			</div>
			<div class="form-group row" id="help_documentBox_content" style="display: none;">
				<div class="offset-sm-2 col-sm-10">
					<div class="alert alert-light help-box">
						<span class="help-box-icon far fa-question-circle fa-lg mt-2 mr-3 mb-3"></span>
						<p th:text="#{document.documentBox.help}">Help text</p>
					</div>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label text-right">
					<span th:text="#{document.description.label}">Description</span>
				</label>
				<div class="col-sm-10">
					<textarea class="form-control summernote" th:field="*{description}" rows="5" th:classappend="${#fields.hasErrors('description')} ? is-invalid"></textarea>
					<div class="invalid-feedback" th:if="${#fields.hasErrors('description')}" th:each="err : ${#fields.errors('description')}" th:text="${err}">validation error</div>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label text-right">
					<span th:text="#{document.reviewDate.label}">Review date</span>
					<span class="far fa-question-circle text-muted help-icon" id="help_reviewDate"></span>
				</label>
				<div class="col-sm-10">
					<input type="date" th:field="*{reviewDate}" class="form-control" th:classappend="${#fields.hasErrors('reviewDate')} ? is-invalid">
					<div class="invalid-feedback" th:if="${#fields.hasErrors('reviewDate')}" th:each="err : ${#fields.errors('reviewDate')}" th:text="${err}">validation error</div>
				</div>
			</div>
			<div class="form-group row" id="help_reviewDate_content" style="display: none;">
				<div class="offset-sm-2 col-sm-10">
					<div class="alert alert-light help-box">
						<span class="help-box-icon far fa-question-circle fa-lg mt-2 mr-3 mb-3"></span>
						<p th:text="#{document.reviewDate.help}">Help text</p>
					</div>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label text-right">
					<span th:text="#{document.deletionDate.label}">Deletion date</span>
					<span class="far fa-question-circle text-muted help-icon" id="help_deletionDate"></span>
				</label>
				<div class="col-sm-10">
					<input type="date" th:field="*{deletionDate}" class="form-control" th:classappend="${#fields.hasErrors('deletionDate')} ? is-invalid">
					<div class="invalid-feedback" th:if="${#fields.hasErrors('deletionDate')}" th:each="err : ${#fields.errors('deletionDate')}" th:text="${err}">validation error</div>
				</div>
			</div>
			<div class="form-group row" id="help_deletionDate_content" style="display: none;">
				<div class="offset-sm-2 col-sm-10">
					<div class="alert alert-light help-box">
						<span class="help-box-icon far fa-question-circle fa-lg mt-2 mr-3 mb-3"></span>
						<p th:text="#{document.deletionDate.help}">Help text</p>
					</div>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label text-right">
					<span th:text="#{default.archived.label}">Archived</span>
				</label>
				<div class="col-sm-10 col-form-label">
					<div class="custom-control custom-checkbox">
						<input type="checkbox" th:field="*{archived}" class="custom-control-input" id="archived">
						<label class="custom-control-label" for="archived"></label>
					</div>
					<div class="invalid-feedback" th:if="${#fields.hasErrors('archived')}" th:each="err : ${#fields.errors('archived')}" th:text="${err}">validation error</div>
				</div>
			</div>

			<div class="form-group row">
				<div class="offset-sm-2 col-sm-10">
					<span class="required">*</span> <span th:text="#{default.form.required}">required</span>
				</div>
			</div>

			<div class="form-group row">
				<div class="offset-sm-2 col-sm-10">
					<input type="submit" class="btn btn-primary" th:value="#{default.button.save.label}" value="Save">
					<a th:href="@{/document/list}" class="btn btn-outline-secondary" th:text="#{default.button.cancel.label}">Cancel</a>
				</div>
			</div>

		</form>

	</div>

</body>
</html>