<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout :: layout-fragment(
							~{::title},
							~{::content},
							null,
							~{:: #additionalJs},
							'document'
							)}">
<head>
	<title th:text="#{application.title-pattern(#{application.name}, #{document.label.plural})}"></title>
</head>
<body>

	<div th:fragment="content">

		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			<h1 class="h2" th:text="#{document.label.plural}">Documents</h1>
			<div class="btn-toolbar mb-2 mb-md-0">
				<div class="btn-group mr-2">
					<a th:href="@{/document/create}" class="btn btn-sm btn-outline-secondary" th:text="#{document.add.label}">Add document</a>
				</div>
			</div>
		</div>

		<div th:replace="~{fragments/messages :: messages-fragment(${messages})}"></div>

		<div class="row">
			<div class="col-sm-10">
				<button id="search-button" class="btn btn-outline-secondary mb-2" th:if="${!searchParams.hasParams()}" th:title="#{default.search.filterEntries.label}"><i class="fas fa-search"></i></button>
				<button id="search-button" class="btn btn-primary mb-2" th:if="${searchParams.hasParams()}" th:title="#{default.search.filterEntries.label}"><i class="fas fa-search"></i></button>

				<span class="badge badge-secondary" th:if="${#strings.isEmpty(searchParams.text)==false}">
					<span th:text="#{document.search.text.label}">Text</span>: <span th:text="${searchParams.text}">[searchParams.text]</span>
				</span>
				<span class="badge badge-secondary" th:if="${searchParams.documentType!=null}">
					<span th:text="#{document.documentType.label}">Document type</span>: <span th:text="${searchParams.documentType.name}">[searchParams.documentType]</span>
				</span>
				<span class="badge badge-secondary" th:if="${searchParams.dateOfIssueFrom!=null}">
					<span th:text="#{document.search.dateOfIssueFrom.label}">Date of issue (from)</span>: <span th:text="${#temporals.format(searchParams.dateOfIssueFrom, #messages.msg('default.dateFormat'))}">[searchParams.dateOfIssueFrom]</span>
				</span>
				<span class="badge badge-secondary" th:if="${searchParams.dateOfIssueTo!=null}">
					<span th:text="#{document.search.dateOfIssueTo.label}">Date of issue (to)</span>: <span th:text="${#temporals.format(searchParams.dateOfIssueTo, #messages.msg('default.dateFormat'))}">[searchParams.dateOfIssueTo]</span>
				</span>
				<span class="badge badge-secondary" th:if="${searchParams.contact!=null}">
					<span th:text="#{document.search.contact.label}">Sender/receiver</span>: <span th:text="${searchParams.contact.name}">[searchParams.contact]</span>
					(<span th:text="${#messages.msg('document.search.contact.'+searchParams.contactSearchType.name()+'.label')}"></span>)
				</span>
				<span class="badge badge-secondary" th:if="${searchParams.tags!=null and #lists.isEmpty(searchParams.tags)==false}">
					<span th:text="#{document.tags.label}">Tags</span>: <span th:each="tag, iterStat : ${searchParams.tags}" th:text="!${iterStat.last} ? ${tag.name} + ', ': ${tag.name}">[searchParams.tags]</span>
				</span>
				<span class="badge badge-secondary" th:if="${searchParams.documentBox!=null}">
					<span th:text="#{document.documentBox.label}">Document box</span>: <span th:text="${searchParams.documentBox.name}">[searchParams.documentBox]</span>
				</span>
				<span class="badge badge-secondary" th:if="${searchParams.reviewDateFrom!=null}">
					<span th:text="#{document.search.reviewDateFrom.label}">Review date (from)</span>: <span th:text="${#temporals.format(searchParams.reviewDateFrom, #messages.msg('default.dateFormat'))}">[searchParams.reviewDateFrom]</span>
				</span>
				<span class="badge badge-secondary" th:if="${searchParams.reviewDateTo!=null}">
					<span th:text="#{document.search.reviewDateTo.label}">Review date (to)</span>: <span th:text="${#temporals.format(searchParams.reviewDateTo, #messages.msg('default.dateFormat'))}">[searchParams.reviewDateTo]</span>
				</span>
				<span class="badge badge-secondary" th:if="${searchParams.deletionDateFrom!=null}">
					<span th:text="#{document.search.deletionDateFrom.label}">Deletion date (from)</span>: <span th:text="${#temporals.format(searchParams.deletionDateFrom, #messages.msg('default.dateFormat'))}">[searchParams.deletionDateFrom]</span>
				</span>
				<span class="badge badge-secondary" th:if="${searchParams.deletionDateTo!=null}">
					<span th:text="#{document.search.deletionDateTo.label}">Deletion date (to)</span>: <span th:text="${#temporals.format(searchParams.deletionDateTo, #messages.msg('default.dateFormat'))}">[searchParams.deletionDateTo]</span>
				</span>
				<span class="badge badge-secondary" th:if="${searchParams.showArchived}">
					<span th:text="#{default.search.showArchived.label}">Show archived</span>
				</span>
			</div>
			<div class="col-sm-2">
				<form class="form-inline float-right mb-2" autocomplete="off">
					<select class="form-control mr-2 pagination-pagesize">
						<option th:each="size : ${availablePagesizes}" th:value="${size}" th:text="${size}" th:selected="${size == page.size}"></option>
					</select>
					<span th:text="#{default.pagination.perPage.label}">per page</span>
				</form>
			</div>
		</div>

		<div class="card mb-3" id="search-card"><!-- style="display: none;" -->
			<div class="card-body">
				<h5 class="card-title" th:text="#{default.search.filterEntries.label}">Filter entries</h5>
				<form style="padding-top: 10px;" th:object="${searchParams}" th:action="@{/document/search}" action="#" method="post" autocomplete="off">

					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right" th:text="#{document.search.text.label}">Text</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" th:field="*{text}">
						</div>
						<label class="col-sm-2 col-form-label text-right" th:text="#{document.documentType.label}">Document type</label>
						<div class="col-sm-4">
							<select th:field="*{documentType}" class="form-control">
								<option value=""></option>
								<option th:each="ty : ${allDocumentTypes}" th:value="${{ty}}" th:text="${ty.name}"></option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right" th:text="#{document.search.dateOfIssueFromTo.label}">Date of issue (from/to)</label>
						<div class="col-sm-2">
							<input type="date" th:field="*{dateOfIssueFrom}" class="form-control">
						</div>
						<div class="col-sm-2">
							<input type="date" th:field="*{dateOfIssueTo}" class="form-control">
						</div>
						<label class="col-sm-2 col-form-label text-right" th:text="#{document.search.contact.label}">Sender/receiver</label>
						<div class="col-sm-2">
							<select th:field="*{contact}" class="form-control">
								<option value=""></option>
								<option th:each="contact : ${allContacts}" th:value="${{contact}}" th:text="${contact.name}"></option>
							</select>
						</div>
						<div class="col-sm-2">
							<select th:field="*{contactSearchType}" class="form-control">
								<option value=""></option>
								<option th:each="ty : ${searchParams.ALL_AVAILABLE_CONTACT_SEARCH_TYPES}" th:value="${{ty}}" th:text="${#messages.msg('document.search.contact.'+ty.name()+'.label')}"></option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right" th:text="#{document.tags.label}">Tags</label>
						<div class="col-sm-4">
							<select th:field="*{tags}" class="form-control select2-multiple" size="4" multiple="multiple">
								<option th:each="tag : ${allTags}" th:value="${{tag}}" th:text="${tag.name}">[name]</option>
							</select>
						</div>
						<label class="col-sm-2 col-form-label text-right" th:text="#{document.documentBox.label}">Document box</label>
						<div class="col-sm-4">
							<select th:field="*{documentBox}" class="form-control">
								<option value=""></option>
								<option th:each="box : ${allDocumentBoxes}" th:value="${{box}}" th:text="${box.name}"></option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right" th:text="#{document.search.reviewDateFromTo.label}">Review date (from/to)</label>
						<div class="col-sm-2">
							<input type="date" th:field="*{reviewDateFrom}" class="form-control">
						</div>
						<div class="col-sm-2">
							<input type="date" th:field="*{reviewDateTo}" class="form-control">
						</div>
						<label class="col-sm-2 col-form-label text-right" th:text="#{document.search.deletionDateFromTo.label}">Deletion date (from/to)</label>
						<div class="col-sm-2">
							<input type="date" th:field="*{deletionDateFrom}" class="form-control">
						</div>
						<div class="col-sm-2">
							<input type="date" th:field="*{deletionDateTo}" class="form-control">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right" th:text="#{default.archived.label}">Archived</div>
						<div class="col-sm-4">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" th:field="*{showArchived}">
								<label class="form-check-label" th:text="#{default.search.showArchived.label}">Show archived</label>
							</div>
						</div>
					</div>

					<div class="form-group row">
						<div class="offset-sm-2 col-sm-10">
							<input type="submit" class="btn btn-primary" th:value="#{default.button.search.label}" value="Search">
							<button type="button" id="search-button-delete-parameters" class="btn btn-outline-secondary" th:text="#{default.search.button.deleteParameters.label}">Delete parameters</button>
						</div>
					</div>

				</form>
			</div>
		</div>

		<table class="table table-bordered">
			<thead>
				<tr>
					<th class="clickable" data-sort-prop="title" th:text="#{document.title.label}">Title</th>
					<th class="clickable" data-sort-prop="documentType.name" th:text="#{document.documentType.label}">Document type</th>
					<th class="clickable text-right" data-sort-prop="dateOfIssue" th:text="#{document.dateOfIssue.label}">Date of issue</th>
					<th th:text="#{document.tags.label}">Tags</th>
					<th class="clickable" data-sort-prop="sender.name" th:text="#{document.sender.label}">Sender</th>
					<th class="clickable" data-sort-prop="receiver.name" th:text="#{document.receiver.label}">Receiver</th>
					<th class="clickable text-right" data-sort-prop="createdDatetime" th:text="#{default.date.createdDatetime.label}">Created</th>
					<th class="clickable text-right" data-sort-prop="updatedDatetime" th:text="#{default.date.updatedDatetime.label}">Updated</th>
					<th th:if="${searchParams.showArchived}" class="clickable" data-sort-prop="archived" th:text="#{default.archived.label}">Archived</th>
					<th th:text="#{default.table.operations.label}">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${#lists.isEmpty(page.content)}">
					<td th:colspan="${searchParams.showArchived ? '10' : '9'}" align="center" th:text="#{default.table.empty.text}">Data can not be found.</td>
				</tr>
				<tr th:each="document : ${page.content}">
					<td>
						<span th:text="${document.title}">[title]</span>
						<i th:if="${#strings.isEmpty(document.description)==false}" class="far fa-comment-alt text-muted" data-toggle="popover" data-html="true" th:title="#{document.description.label}" th:attr="data-content=${document.description}"></i>
					</td>
					<td>
						<span th:text="${document.documentType?.name}">[documentType.name]</span>
					</td>
					<td class="text-right">
						<span th:if="${document.dateOfIssue==null}" th:text="#{default.date.unknown}">Unknown</span>
						<span th:if="${document.dateOfIssue!=null}" th:text="${#temporals.format(document.dateOfIssue, #messages.msg('default.dateFormat'))}">[dateOfIssue]</span>
					</td>
					<td>
						<div th:if="${!#lists.isEmpty(document.tags)}">
							<span th:each="tag : ${document.tags}" class="badge badge-pill badge-info mr-1" th:text="${tag.name}">[tag.name]</span>
						</div>
					</td>
					<td>
						<span th:text="${document.sender?.name}">[sender.name]</span>
					</td>
					<td>
						<span th:text="${document.receiver?.name}">[receiver.name]</span>
					</td>
					<td class="text-right">
						<span th:if="${document.createdDatetime==null}" th:text="#{default.date.unknown}">Unknown</span>
						<span th:if="${document.createdDatetime!=null}" th:text="${#temporals.format(document.createdDatetime, #messages.msg('default.dateTimeHHmmssFormat'))}">[createdDatetime]</span>
					</td>
					<td class="text-right">
						<span th:if="${document.updatedDatetime==null}" th:text="#{default.date.unknown}">Unknown</span>
						<span th:if="${document.updatedDatetime!=null}" th:text="${#temporals.format(document.updatedDatetime, #messages.msg('default.dateTimeHHmmssFormat'))}">[updatedDatetime]</span>
					</td>
					<td th:if="${searchParams.showArchived}">
						<span th:if="${document.archived}" class="badge badge-secondary" th:text="#{default.archived.label}">Archived</span>
					</td>
					<td>
						<div class="btn-group">
							<a th:href="@{/document/show/{id}(id=${document.id})}" class="btn btn-outline-secondary btn-sm" th:text="#{default.button.show.label}">Show</a>
							<button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="sr-only">Toggle Dropdown</span>
							</button>
							<div class="dropdown-menu dropdown-menu-right">
								<a th:href="@{/document/edit/{id}(id=${document.id})}" class="dropdown-item" th:text="#{default.button.edit.label}">Edit</a>
								<a href="" class="dropdown-item" data-toggle="modal" data-target="#deleteModal" th:attr="data-id=${document.id}" th:text="#{default.button.delete.label}">Delete</a>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>

		<div class="row" th:if="${page.hasContent()}">
			<div class="col-sm-12">
				<form class="form-inline float-right" th:with="sortParam=${sortProperty+','+(sortDesc?'desc':'asc')}" autocomplete="off">
					<span class="mr-2">
						<span th:text="${currentItems}">[currentItems]</span>
						<span th:text="#{default.pagination.pageOfPages.label}">of</span>
						<span th:text="${page.totalElements}">[page.totalElements]</span>
					</span>
					<div class="btn-group mr-2" th:if="${page.isFirst()}">
						<button class="btn btn-outline-secondary" th:title="#{default.pagination.firstPage.label}" disabled><i class="fa fa-angle-double-left"></i></button>
						<button class="btn btn-outline-secondary" th:title="#{default.pagination.previousPage.label}" disabled><i class="fa fa-angle-left"></i></button>
					</div>
					<div class="btn-group mr-2" th:if="${page.hasPrevious()}">
						<a class="btn btn-outline-secondary" th:href="@{/document/list(size=${page.size}, page=0, sort=${sortParam})}" th:title="#{default.pagination.firstPage.label}"><i class="fa fa-angle-double-left"></i></a>
						<a class="btn btn-outline-secondary" th:href="@{/document/list(size=${page.size}, page=${page.previousPageable().pageNumber}, sort=${sortParam})}" th:title="#{default.pagination.previousPage.label}"><i class="i fa fa-angle-left"></i></a>
					</div>
					<input type="text" class="form-control mr-2 pagination-page" style="width: 3em;" th:value="${page.number+1}">
					<span class="mr-2">
						<span th:text="#{default.pagination.pageOfPages.label}">of</span>
						<span th:text="${page.totalPages}">[page.totalPages]</span>
					</span>
					<div class="btn-group" th:if="${page.isLast()}">
						<button class="btn btn-outline-secondary" th:title="#{default.pagination.nextPage.label}" disabled><i class="fa fa-angle-right"></i></button>
						<button class="btn btn-outline-secondary" th:title="#{default.pagination.lastPage.label}" disabled><i class="fa fa-angle-double-right"></i></button>
					</div>
					<div class="btn-group" th:if="${page.hasNext()}">
						<a class="btn btn-outline-secondary" th:href="@{/document/list(size=${page.size}, page=${page.nextPageable().pageNumber}, sort=${sortParam})}" th:title="#{default.pagination.nextPage.label}"><i class="fa fa-angle-right"></i></a>
						<a class="btn btn-outline-secondary" th:href="@{/document/list(size=${page.size}, page=${page.totalPages-1}, sort=${sortParam})}" th:title="#{default.pagination.lastPage.label}"><i class="fa fa-angle-double-right"></i></a>
					</div>
				</form>
			</div>
		</div>

		<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="deleteModalLabel" th:text="#{document.deletePopup.title}">Delete document</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<span th:text="#{document.deletePopup.question}">Do you really want to delete this document?</span>
					</div>
					<div class="modal-footer">
						<a href="" th:attr="data-href-template=@{/document/delete/{id}}" class="btn btn-danger" th:text="#{default.button.delete.label}">Delete</a>
						<button type="button" class="btn btn-outline-secondary" data-dismiss="modal" th:text="#{default.button.cancel.label}">Cancel</button>
					</div>
				</div>
			</div>
		</div>

		<script th:inline="javascript">
			/*<![CDATA[*/
			var sortProperty = /*[[${sortProperty}]]*/ null;
			var sortDesc = /*[[${sortDesc}]]*/ null;
			var currentPage = /*[[${page.number}]]*/ 0;
			var pageSize = /*[[${page.size}]]*/ 0;
			var sortParam = sortProperty + ',' + (sortDesc ? 'desc' : 'asc');
			/*]]>*/
		</script>

	</div>

	<th:block id="additionalJs">
		<script th:src="@{/js/document-list.js}"></script>
	</th:block>

</body>
</html>