<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout :: layout-fragment(
							~{::title},
							~{::content},
							null,
							~{:: #additionalJs},
							'document'
							)}">
<head>
	<title th:text="#{application.title-pattern(#{application.name}, #{document.label.plural}+' - '+#{document.show.label})}"></title>
</head>
<body>

	<div th:fragment="content">

		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			<h1 class="h2">
				<span th:text="#{document.show.label}">Show document</span>:
				<span th:text="${document.title}">[title]</span>
				<span th:if="${document.archived}" class="badge bg-secondary" th:text="#{default.archived.label}">Archived</span>
			</h1>
			<div class="btn-toolbar mb-2 mb-md-0">
				<div class="btn-group me-2">
					<div class="btn-group">
						<button id="btnGroupDrop1" type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><em class="fa fa-ellipsis-v fa-sm"></em> </button>
						<div class="dropdown-menu dropdown-menu-end" aria-labelledby="btnGroupDrop1">
							<button type="button" class="dropdown-item add-comment-btn" th:text="#{comment.add.label}">Add comment</button>
						</div>
					</div>
				</div>
				<div class="btn-group me-2">
					<a th:href="@{/document/edit/{id}(id=${document.id})}" class="btn btn-sm btn-outline-secondary" th:text="#{default.button.edit.label}">Edit</a>
				</div>
				<div class="btn-group me-2">
					<a href="" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" th:attr="data-id=${document.id}" th:text="#{default.button.delete.label}">Delete</a>
				</div>
			</div>
		</div>

		<div th:replace="~{fragments/messages :: messages-fragment(${messages})}"></div>

		<div class="row" th:if="${document.title!=null}">
			<label class="col-sm-2 text-end" th:text="#{document.title.label}">Title</label>
			<div class="col-sm-10" th:text="${document.title}">[title]</div>
		</div>

		<div class="row mt-3" th:if="${document.documentType!=null}">
			<label class="col-sm-2 text-end" th:text="#{document.documentType.label}">Document type</label>
			<div class="col-sm-10" th:text="${document.documentType?.name}">[documentType.name]</div>
		</div>

		<div class="row mt-3" th:if="${document.dateOfIssue!=null}">
			<label class="col-sm-2 text-end">
				<span th:text="#{document.dateOfIssue.label}">Date of issue</span>
				<span class="far fa-question-circle text-muted help-icon" id="help_dateOfIssue"></span>
			</label>
			<div class="col-sm-10" th:text="${#temporals.format(document.dateOfIssue, #messages.msg('default.dateFormat'))}">[dateOfIssue]</div>
		</div>
		<div class="row mt-2" th:if="${document.dateOfIssue!=null}" id="help_dateOfIssue_content" style="display: none;">
			<div class="offset-sm-2 col-sm-10">
				<div class="alert alert-light help-box">
					<span class="help-box-icon far fa-question-circle fa-lg mt-2 me-3 mb-3"></span>
					<p th:text="#{document.dateOfIssue.help}">Help text</p>
				</div>
			</div>
		</div>

		<div class="row mt-3">
			<label class="col-sm-2 text-end" th:text="#{document.fileAttachments.label}">Files</label>
			<div class="col-sm-10">
				<table class="table table-bordered table-sm">
					<thead>
						<tr>
							<th scope="col" th:text="#{fileAttachment.name.label}">Name</th>
							<th scope="col" class="text-end" th:text="#{fileAttachment.size.label}">Size</th>
							<th scope="col" class="text-end" th:text="#{default.date.createdDatetime.label}">Created</th>
							<th scope="col" th:text="#{default.table.operations.label}">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${#lists.isEmpty(fileAttachments)}">
							<td colspan="4" class="text-center" th:text="#{default.table.empty.text}">Data can not be found.</td>
						</tr>
						<tr th:each="fileAttachment : ${fileAttachments}">
							<td>
								<em th:class="${fileAttachment.icon.styleClass}"></em>
								<span th:text="${fileAttachment.name}">[name]</span>
							</td>
							<td class="text-end">
								<span th:text="${fileAttachment.sizeFormatted}">[sizeFormatted]</span>
							</td>
							<td class="text-end">
								<span th:if="${fileAttachment.createdDatetime==null}" th:text="#{default.date.unknown}">Unknown</span>
								<span th:if="${fileAttachment.createdDatetime!=null}" th:text="${#temporals.format(fileAttachment.createdDatetime, #messages.msg('default.dateTimeHHmmssFormat'))}">[createdDate]</span>
							</td>
							<td>
								<div class="btn-group btn-group-sm">
									<a th:href="@{/file-attachment/show/{id}(id=${fileAttachment.id})}" class="btn btn-outline-secondary btn-sm" target="_blank" th:text="#{default.button.show.label}">Show</a>
									<button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span class="sr-only">Toggle Dropdown</span>
									</button>
									<div class="dropdown-menu dropdown-menu-end">
										<a th:href="@{/file-attachment/show/{id}?inline=false(id=${fileAttachment.id})}" class="dropdown-item" th:text="#{default.button.download.label}">Download</a>
										<a href="" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteModal_fileAttachment" th:attr="data-id=${fileAttachment.id}" th:text="#{default.button.delete.label}">Delete</a>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<button id="fileUploadButton" type="button" class="btn btn-outline-secondary btn-sm" th:text="#{fileAttachment.add.label}">Add file(s)</button>
			</div>
		</div>

		<div class="row mt-3" th:if="${!#lists.isEmpty(document.tags)}">
			<label class="col-sm-2 text-end" th:text="#{document.tags.label}">Tags</label>
			<div class="col-sm-10">
				<span th:each="tag : ${document.tags}" class="badge rounded-pill bg-info me-1" th:text="${tag.name}">[tag.name]</span>
			</div>
		</div>

		<div class="row mt-3" th:if="${document.sender!=null}">
			<label class="col-sm-2 text-end" th:text="#{document.sender.label}">Sender</label>
			<div class="col-sm-10" th:text="${document.sender?.name}">[sender.name]</div>
		</div>

		<div class="row mt-3" th:if="${document.receiver!=null}">
			<label class="col-sm-2 text-end" th:text="#{document.receiver.label}">Receiver</label>
			<div class="col-sm-10" th:text="${document.receiver?.name}">[receiver.name]</div>
		</div>

		<div class="row mt-3" th:if="${document.documentBox!=null}">
			<label class="col-sm-2 text-end">
				<span th:text="#{document.documentBox.label}">Document box</span>
				<span class="far fa-question-circle text-muted help-icon" id="help_documentBox"></span>
			</label>
			<div class="col-sm-10" th:text="${document.documentBox?.name}">[documentBox.name]</div>
		</div>
		<div class="row mt-2" th:if="${document.documentBox!=null}" id="help_documentBox_content" style="display: none;">
			<div class="offset-sm-2 col-sm-10">
				<div class="alert alert-light help-box">
					<span class="help-box-icon far fa-question-circle fa-lg mt-2 me-3 mb-3"></span>
					<p th:text="#{document.documentBox.help}">Help text</p>
				</div>
			</div>
		</div>

		<div class="row mt-3" th:if="${document.description!=null}">
			<label class="col-sm-2 text-end" th:text="#{document.description.label}">Description</label>
			<div class="col-sm-10" th:utext="${document.description}">[description]</div>
		</div>

		<div class="row mt-3" th:if="${document.createdDatetime!=null}">
			<label class="col-sm-2 text-end" th:text="#{default.date.createdDatetime.label}">Created</label>
			<div class="col-sm-10" th:text="${#temporals.format(document.createdDatetime, #messages.msg('default.dateTimeHHmmssFormat'))}">[createdDatetime]</div>
		</div>

		<div class="row mt-3" th:if="${document.updatedDatetime!=null}">
			<label class="col-sm-2 text-end" th:text="#{default.date.updatedDatetime.label}">Updated</label>
			<div class="col-sm-10" th:text="${#temporals.format(document.updatedDatetime, #messages.msg('default.dateTimeHHmmssFormat'))}">[updatedDatetime]</div>
		</div>

		<div class="row mt-3" th:if="${document.reviewDate!=null}">
			<label class="col-sm-2 text-end">
				<span th:text="#{document.reviewDate.label}">Review date</span>
				<span class="far fa-question-circle text-muted help-icon" id="help_reviewDate"></span>
			</label>
			<div class="col-sm-10" th:text="${#temporals.format(document.reviewDate, #messages.msg('default.dateFormat'))}">[reviewDate]</div>
		</div>
		<div class="row mt-2" th:if="${document.reviewDate!=null}" id="help_reviewDate_content" style="display: none;">
			<div class="offset-sm-2 col-sm-10">
				<div class="alert alert-light help-box">
					<span class="help-box-icon far fa-question-circle fa-lg mt-2 me-3 mb-3"></span>
					<p th:text="#{document.reviewDate.help}">Help text</p>
				</div>
			</div>
		</div>

		<div class="row mt-3" th:if="${document.deletionDate!=null}">
			<label class="col-sm-2 text-end">
				<span th:text="#{document.deletionDate.label}">Deletion date</span>
				<span class="far fa-question-circle text-muted help-icon" id="help_deletionDate"></span>
			</label>
			<div class="col-sm-10" th:text="${#temporals.format(document.deletionDate, #messages.msg('default.dateFormat'))}">[deletionDate]</div>
		</div>
		<div class="row mt-2" th:if="${document.deletionDate!=null}" id="help_deletionDate_content" style="display: none;">
			<div class="offset-sm-2 col-sm-10">
				<div class="alert alert-light help-box">
					<span class="help-box-icon far fa-question-circle fa-lg mt-2 me-3 mb-3"></span>
					<p th:text="#{document.deletionDate.help}">Help text</p>
				</div>
			</div>
		</div>

		<div class="row mt-3">
			<div class="col-sm-12">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link active" data-bs-toggle="tab" href="#comments">Comments</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-bs-toggle="tab" href="#activityStream">Activity Stream</a>
					</li>
				</ul>
				<div id="myTabContent" class="tab-content">

					<div class="tab-pane fade active show" id="comments">

						<p class="pt-3 pl-2" th:if="${#lists.isEmpty(comments)}" th:text="#{comment.empty.text}">There are no comments posted.</p>

						<div class="pt-3 pl-2 pr-2 border-bottom border-gray" th:each="comment : ${comments}" th:id="${'comment-'+comment.id}">
							<p class="pb-3 mb-0" th:if="${!comment.deleted}">
								<span class="d-block">
									<span th:replace="~{fragments/user :: userLink-fragment(user=${comment.author})}"></span>
									<span th:if="${comment.createdDatetime!=null}" class="text-muted">
										-
										<span th:text="${dateUtils.prettyFormatDuration(comment.createdDatetime)}">4 minutes ago</span>
										-
										<span th:text="${#temporals.format(comment.createdDatetime, #messages.msg('default.dateTimeHHmmssFormat'))}">[createdDatetime]</span>
									</span>
									<span th:if="${comment.updatedDatetime!=null}">-</span>
									<span th:if="${comment.updatedDatetime!=null}" class="text-danger" th:title="${dateUtils.prettyFormatDuration(comment.updatedDatetime) + ' - ' + #temporals.format(comment.updatedDatetime, #messages.msg('default.dateTimeHHmmssFormat'))}">edited</span>
									<span class="float-end">
										<a th:href="${'#comment-'+comment.id}" class="text-muted permlink-comment-btn" th:attr="data-id=${comment.id}"><em class="fas fa-link"></em></a>
										<em class="fas fa-pencil-alt edit-comment-btn clickable text-muted" th:attr="data-id=${comment.id}"></em>
										<a href="" class="text-muted" data-bs-toggle="modal" data-bs-target="#deleteModal_comment" th:attr="data-id=${comment.id}">
											<em class="fas fa-trash-alt"></em>
										</a>
									</span>
								</span>
								<span th:id="${'commentText-'+comment.id}" th:utext="${textUtils.escapeHtml(comment.text)}">[comment.text]</span>
							</p>
							<p class="pb-3 mb-0" th:if="${comment.deleted}">
								<em th:text="#{comment.deleted.text}">This comment has been deleted.</em>
							</p>
						</div>

						<div class="pt-3 pl-2 pr-2" id="newCommentForm" style="display: none;">
							<form th:object="${newComment}" th:action="@{/comment/save}" action="#" method="post" autocomplete="off">
								<input type="hidden" th:field="*{document}"/>

								<div class="row">
									<div class="col-sm-12">
										<textarea class="form-control" th:field="*{text}" id="newCommentInput" rows="5" th:classappend="${#fields.hasErrors('text')} ? is-invalid"></textarea>
										<div class="invalid-feedback" th:if="${#fields.hasErrors('text')}" th:each="err : ${#fields.errors('text')}" th:text="${err}">validation error</div>
									</div>
								</div>

								<div class="row mt-3">
									<div class="col-sm-12">
										<input type="submit" class="btn btn-sm btn-primary" th:value="#{default.button.save.label}" value="Save">
										<button type="button" id="newCommentCancelButton" class="btn btn-sm btn-outline-secondary" th:text="#{default.button.cancel.label}">Cancel</button>
									</div>
								</div>
							</form>
						</div>

						<button type="button" class="btn btn-sm btn-outline-secondary mt-3 add-comment-btn" th:text="#{comment.add.label}">Add comment</button>

					</div>

					<div class="tab-pane fade" id="activityStream">
						<p class="pt-3 pl-2">Coming soon</p>
					</div>

				</div>
			</div>
		</div>

		<form id="fileUploadForm" th:object="${fileAttachmentUpload}" th:action="@{/file-attachment/save}" action="#" method="post" enctype="multipart/form-data" autocomplete="off">
			<input type="hidden" th:field="*{document}"/>
			<input type="file" th:field="*{files}" hidden multiple/>
		</form>

		<div th:replace="~{fragments/dialogs :: deleteDialog-fragment(id='deleteModal', controller='document', title=#{document.deletePopup.title}, question=#{document.deletePopup.question})}"></div>

		<div th:replace="~{fragments/dialogs :: deleteDialog-fragment(id='deleteModal_fileAttachment', controller='file-attachment', title=#{fileAttachment.deletePopup.title}, question=#{fileAttachment.deletePopup.question})}"></div>

		<div th:replace="~{fragments/dialogs :: deleteDialog-fragment(id='deleteModal_comment', controller='comment', title=#{comment.deletePopup.title}, question=#{comment.deletePopup.question})}"></div>

		<script th:inline="javascript">
			/*<![CDATA[*/
			var documentId = /*[[${document.id}]]*/ null;
			var messages_defaultButtonSaveLabel = /*[[#{default.button.save.label}]]*/ 'Save';
			var messages_defaultButtonCancelLabel = /*[[#{default.button.cancel.label}]]*/ 'Cancel';
			/*]]>*/
		</script>

	</div>

	<th:block id="additionalJs">
		<script th:src="@{/js/document-show.js}"></script>
	</th:block>

</body>
</html>