.required {
	color: #F00;
}

.clickable {
	cursor: pointer;
}

.help-icon {
	cursor: pointer;
}

.help-box {
	border: 1px solid darkgrey;
}

.help-box-icon {
	color: black;
	float: left;
}

.file-icon-color-word {
	color: #007bff;
}

.file-icon-color-excel {
	color: #28a745;
}

.file-icon-color-powerpoint {
	color: #dc3545;
}

.file-icon-color-archive {
	color: #ffc107;
}

.file-icon-color-other {
	color: #6c757d;
}