<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
</head>
<body>

	<div th:fragment="deleteDialog-fragment (id, controller, title, question)">

		<div class="modal fade deleteModal" th:id="${id}" tabindex="-1" role="dialog" th:aria-labelledby="${id+'Label'}" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" th:id="${id+'Label'}" th:text="${title}">Delete item</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<span th:text="${question}">Do you really want to delete this item?</span>
					</div>
					<div class="modal-footer">
						<a href="" th:attr="data-href-template=@{/{controller}/delete/{id}(controller=${controller})}" class="btn btn-danger" th:text="#{default.button.delete.label}">Delete</a>
						<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" th:text="#{default.button.cancel.label}">Cancel</button>
					</div>
				</div>
			</div>
		</div>

	</div>

</body>
</html>