<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
</head>
<body>

	<nav th:fragment="header-fragment (menu)" class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
		<span class="navbar-brand mb-0 h1">
			<img th:src="@{/images/brand.png}" width="30" height="30" class="d-inline-block align-top">
			<span th:text="#{application.name}">[application.name]</span>
		</span>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item" th:classappend="${#strings.equals(menu,'dashboard')} ? active">
					<a class="nav-link" th:href="@{/dashboard}" th:title="#{dashboard.label}"><i class="fas fa-home fa-lg"></i></a>
				</li>
				<li class="nav-item" th:classappend="${#strings.equals(menu,'document')} ? active">
					<a class="nav-link" th:href="@{/document/list}" th:title="#{document.label.plural}"><i class="far fa-file-alt fa-lg"></i></a>
				</li>
				<li class="nav-item" th:classappend="${#strings.equals(menu,'tag')} ? active">
					<a class="nav-link" th:href="@{/tag/list}" th:title="#{tag.label.plural}"><i class="fas fa-tags fa-lg"></i></a>
				</li>
				<li class="nav-item" th:classappend="${#strings.equals(menu,'admin')} ? active">
					<a class="nav-link" th:href="@{/admin/server-info}" th:title="#{admin.label}"><i class="fas fa-cog"></i></a>
				</li>
			</ul>
			<a class="nav-link" th:href="@{/admin/server-info}" th:title="#{settings.label}"><i class="fas fa-cog text-muted"></i></a>
		</div>
	</nav>

</body>
</html>