<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8" />
</head>
<body>

	<nav th:fragment="header-fragment (menu)" class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
		<div class="container-fluid">
			<span class="navbar-brand">
				<img th:src="@{/images/brand.png}" width="30" height="30" class="d-inline-block align-text-top" alt=""/>
				<span th:text="#{application.name}">[application.name]</span>
			</span>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto" sec:authorize="hasRole('USER') or hasRole('ADMIN')">
					<li class="nav-item">
						<a class="nav-link" th:classappend="${#strings.equals(menu,'dashboard')} ? active"
							th:href="@{/dashboard}" th:title="#{dashboard.label}"><em class="fas fa-home fa-lg"></em></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:classappend="${#strings.equals(menu,'document')} ? active"
							th:href="@{/document/list}" th:title="#{document.label.plural}"><em class="far fa-file-alt fa-lg"></em></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:classappend="${#strings.equals(menu,'tag')} ? active"
							th:href="@{/tag/list}" th:title="#{tag.label.plural}"><em class="fas fa-tags fa-lg"></em></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:classappend="${#strings.equals(menu,'activity-stream')} ? active"
							th:href="@{/activity-stream/list}" th:title="#{activityStream.label}"><em class="fas fa-stream fa-lg"></em></a>
					</li>
					<li class="nav-item" sec:authorize="hasRole('USER') and !hasRole('ADMIN')">
						<a class="nav-link" th:classappend="${#strings.equals(menu,'admin')} ? active"
							th:href="@{/document-type/list}" th:title="#{admin.label}"><em class="fas fa-cog"></em></a>
					</li>
					<li class="nav-item" sec:authorize="hasRole('ADMIN')">
						<a class="nav-link" th:classappend="${#strings.equals(menu,'admin')} ? active"
							th:href="@{/admin/server-info}" th:title="#{admin.label}"><em class="fas fa-cog"></em></a>
					</li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item dropdown" sec:authorize="isAuthenticated()">
						<a href="#" class="nav-link dropdown-toggle" th:classappend="${#strings.equals(menu,'user')} ? active"
							data-bs-toggle="dropdown"><em class="fas fa-user"></em></a>
						<div class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
							<a th:href="@{/user/show}" class="dropdown-item">User data</a>
							<div class="dropdown-divider"></div>
							<a th:href="@{/logout}"class="dropdown-item">Logout</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>

</body>
</html>