<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8" />
</head>
<body>

	<nav th:fragment="header-fragment (menu)" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
		<div class="sidebar-sticky pt-3">
			<ul class="nav flex-column" sec:authorize="hasRole('ADMIN')">
				<li class="nav-item" th:classappend="${#strings.equals(menu,'server-info')} ? active">
					<a class="nav-link" th:href="@{/admin/server-info}">
						<em class="fas fa-info-circle fa-lg"></em>
						<span th:text="#{utility.serverInfo.label}">Server Info</span>
					</a>
				</li>
			</ul>
			<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted" sec:authorize="hasRole('ADMIN')">
				<span th:text="#{admin.section.userAdministration.label}">User administration</span>
			</h6>
			<ul class="nav flex-column" sec:authorize="hasRole('ADMIN')">
				<li class="nav-item" th:classappend="${#strings.equals(menu,'user-admin')} ? active">
					<a class="nav-link" th:href="@{/user-admin/list}">
						<em class="fas fa-user"></em>
						<span th:text="#{user.label.plural}">Users</span>
					</a>
				</li>
				<li class="nav-item" th:classappend="${#strings.equals(menu,'group')} ? active">
					<a class="nav-link" th:href="@{/group/list}">
						<em class="fas fa-users"></em>
						<span th:text="#{group.label.plural}">Groups</span>
					</a>
				</li>
			</ul>
			<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted" sec:authorize="hasRole('USER') or hasRole('ADMIN')">
				<span th:text="#{admin.section.generalSettings.label}">General settings</span>
			</h6>
			<ul class="nav flex-column" sec:authorize="hasRole('USER') or hasRole('ADMIN')">
				<li class="nav-item" th:classappend="${#strings.equals(menu,'document-type')} ? active">
					<a class="nav-link" th:href="@{/document-type/list}">
						<em class="fas fa-file fa-lg"></em>
						<span th:text="#{documentType.label.plural}">Document types</span>
					</a>
				</li>
				<li class="nav-item" th:classappend="${#strings.equals(menu,'document-box')} ? active">
					<a class="nav-link" th:href="@{/document-box/list}">
						<em class="fas fa-archive fa-lg"></em>
						<span th:text="#{documentBox.label.plural}">Document boxes</span>
					</a>
				</li>
				<li class="nav-item" th:classappend="${#strings.equals(menu,'contact')} ? active">
					<a class="nav-link" th:href="@{/contact/list}">
						<em class="far fa-address-card"></em>
						<span th:text="#{contact.label.plural}">Contacts</span>
					</a>
				</li>
			</ul>
			<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted" sec:authorize="hasRole('ADMIN')">
				<span th:text="#{admin.section.backupAdministration.label}">Backup administration</span>
			</h6>
			<ul class="nav flex-column" sec:authorize="hasRole('ADMIN')">
				<li class="nav-item" th:classappend="${#strings.equals(menu,'backup')} ? active">
					<a class="nav-link" th:href="@{/backup}">
						<em class="fas fa-file-export"></em>
						<span th:text="#{admin.section.backupAdministration.backup.label}">Backup</span>
					</a>
				</li>
				<li class="nav-item" th:classappend="${#strings.equals(menu,'restore')} ? active">
					<a class="nav-link" th:href="@{/backup/restore}">
						<em class="fas fa-file-import"></em>
						<span th:text="#{admin.section.backupAdministration.restore.label}">Restore</span>
					</a>
				</li>
			</ul>
		</div>
	</nav>

</body>
</html>