<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
</head>
<body>

	<nav th:fragment="header-fragment (menu)" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
		<div class="sidebar-sticky pt-3">
			<ul class="nav flex-column">
				<li class="nav-item" th:classappend="${#strings.equals(menu,'server-info')} ? active">
					<a class="nav-link" th:href="@{/admin/server-info}">
						<i class="fas fa-info-circle fa-lg"></i>
						<span th:text="#{utility.serverInfo.label}">Server Info</span>
					</a>
				</li>
			</ul>
			<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
				<span th:text="#{admin.section.userAdministration.label}">User administration</span>
			</h6>
			<ul class="nav flex-column">
				<li class="nav-item" th:classappend="${#strings.equals(menu,'user')} ? active">
					<a class="nav-link" th:href="@{/user/list}">
						<i class="fas fa-user"></i>
						<span th:text="#{user.label.plural}">Users</span>
					</a>
				</li>
				<li class="nav-item" th:classappend="${#strings.equals(menu,'user-group')} ? active">
					<a class="nav-link" th:href="@{/user-group/list}">
						<i class="fas fa-users"></i>
						<span th:text="#{userGroup.label.plural}">Groups</span>
					</a>
				</li>
			</ul>
			<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
				<span th:text="#{admin.section.generalSettings.label}">General settings</span>
			</h6>
			<ul class="nav flex-column">
				<li class="nav-item" th:classappend="${#strings.equals(menu,'document-type')} ? active">
					<a class="nav-link" th:href="@{/document-type/list}">
						<i class="fas fa-file fa-lg"></i>
						<span th:text="#{documentType.label.plural}">Document types</span>
					</a>
				</li>
				<li class="nav-item" th:classappend="${#strings.equals(menu,'document-box')} ? active">
					<a class="nav-link" th:href="@{/document-box/list}">
						<i class="fas fa-archive fa-lg"></i>
						<span th:text="#{documentBox.label.plural}">Document boxes</span>
					</a>
				</li>
				<li class="nav-item" th:classappend="${#strings.equals(menu,'contact')} ? active">
					<a class="nav-link" th:href="@{/contact/list}">
						<i class="far fa-address-card"></i>
						<span th:text="#{contact.label.plural}">Contacts</span>
					</a>
				</li>
			</ul>
		</div>
	</nav>

</body>
</html>