<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
</head>
<body>

	<span th:fragment="messages-fragment (messages)" th:if="${messages}">
		<div class="alert alert-danger alert-dismissible fade show" th:if="${messages.hasErrors()}" th:each="message : ${messages.errors}" role="alert">
			<span th:utext="${#messages.msgWithParams(message.key, message.params)}">error message</span>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="alert alert-warning alert-dismissible fade show" th:if="${messages.hasWarnings()}" th:each="message : ${messages.warnings}" role="alert">
			<span th:utext="${#messages.msgWithParams(message.key, message.params)}">warning message</span>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="alert alert-info alert-dismissible fade show" th:if="${messages.hasInfos()}" th:each="message : ${messages.infos}" role="alert">
			<span th:utext="${#messages.msgWithParams(message.key, message.params)}">info message</span>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="alert alert-success alert-dismissible fade show" th:if="${messages.hasSuccesses()}" th:each="message : ${messages.successes}" role="alert">
			<span th:utext="${#messages.msgWithParams(message.key, message.params)}">success message</span>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</span>

</body>
</html>