<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout-auth :: layout-fragment(
							~{::title},
							~{::content},
							null,
							~{:: #additionalJs},
							'user'
							)}">
<head>
	<title th:text="#{application.title-pattern(#{application.name}, #{user.login.label})}"></title>
</head>
<body>

	<div th:fragment="content">

		<h4 class="card-title mt-1 mb-3 text-center">Log In to Your Account</h4>

		<p class="text-danger text-center" th:if="${authMsg}"><small th:text="${authMsg}">[authMsg]</small></p>

		<form th:action="@{/login}" method="post" autocomplete="off">
			<div>
				<input type="text" class="form-control" name="username" id="username" placeholder="Username">
			</div>
			<div class="mt-3">
				<input type="password" class="form-control" name="password" id="password" placeholder="Password">
			</div>
			<div class="mt-3">
				<a href="#"><small>Forgot password?</small></a>
			</div>
			<div class="mt-3">
				<button type="submit" class="btn btn-primary form-control">Log In</button>
			</div>
		</form>

		<div class="mt-5 text-center">Don't have an account? <a th:href="@{/register}">Sign up</a>.</div>

	</div>

	<th:block id="additionalJs">
		<script th:src="@{/js/login.js}"></script>
	</th:block>

</body>
</html>
