<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout :: layout-fragment(
							~{::title},
							~{::content},
							null,
							~{:: #additionalJs},
							'user'
							)}">
<head>
	<title th:text="#{application.title-pattern(#{application.name}, #{user.show.label})}"></title>
</head>
<body>

	<div th:fragment="content">

		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			<h1 class="h2">
				<span th:text="#{user.show.label}">Show user data</span>:
				<span th:text="${user.username}">[username]</span>
			</h1>
			<div class="btn-toolbar mb-2 mb-md-0">
				<div class="btn-group me-2">
					<a th:href="@{/user/edit}" class="btn btn-sm btn-outline-secondary" th:text="#{default.button.edit.label}">Edit</a>
				</div>
				<div class="btn-group me-2">
					<a href="" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal_currentUser" th:text="#{default.button.delete.label}">Delete</a>
				</div>
			</div>
		</div>

		<div th:replace="~{fragments/messages :: messages-fragment(${messages})}"></div>

		<div class="row" th:if="${user.username!=null}">
			<label class="col-sm-2 text-end" th:text="#{user.username.label}">Username</label>
			<div class="col-sm-10" th:text="${user.username}">[username]</div>
		</div>

		<div class="row mt-3" th:if="${user.fullName!=null}">
			<label class="col-sm-2 text-end" th:text="#{user.fullName.label}">Full name</label>
			<div class="col-sm-10" th:text="${user.fullName}">[fullName]</div>
		</div>

		<div class="row mt-3">
			<label class="col-sm-2 col-form-label text-end">
				<span th:text="#{user.authorities.label}">Authorities</span>
				<span class="far fa-question-circle text-muted help-icon" id="help_authorities"></span>
			</label>
			<div class="col-sm-10 col-form-label">
				<div th:each="authority : ${user.authorities}">
					<span th:text="${#messages.msg('user.authorities.'+authority+'.label')}">[authority]</span>
					<span th:if="${!user.hasSessionAuthority(authority)}" class="text-muted">(Log out required for authorization to take effect)</span>
				</div>
				<div th:each="authority : ${user.missingSessionAuthorities}">
					<span th:text="${#messages.msg('user.authorities.'+authority+'.label')}">[authority]</span>
					<span class="text-muted">(only active for the current session, authorization is not applicable the next time you log out)</span>
				</div>
			</div>
		</div>
		<div class="row" id="help_authorities_content" style="display: none;">
			<div class="offset-sm-2 col-sm-10">
				<div class="alert alert-light help-box">
					<span class="text-dark far fa-question-circle fa-lg mt-2 me-3 mb-3"></span>
					<p th:text="#{user.authorities.ROLE_USER.label}">User</p>
					<ul>
						<li th:text="#{user.authorities.ROLE_USER.help1}">Help 1</li>
						<li th:text="#{user.authorities.ROLE_USER.help2}">Help 2</li>
					</ul>
					<p th:text="#{user.authorities.ROLE_ADMIN.label}">Administrator</p>
					<ul>
						<li th:text="#{user.authorities.ROLE_ADMIN.help1}">Help 1</li>
						<li th:text="#{user.authorities.ROLE_ADMIN.help2}">Help 2</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="row mt-3">
			<label class="col-sm-2 col-form-label text-end">
				<span th:text="#{user.groups.label}">Groups</span>
			</label>
			<div class="col-sm-10 col-form-label">
				<div th:each="group : ${user.groups}" th:text="${group.name}">[name]</div>
			</div>
		</div>

		<div class="modal fade" id="deleteModal_currentUser" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="deleteModalLabel" th:text="#{user.deletePopup.title}">Delete user</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p th:text="#{user.deletePopup.hint}">During this process you will be automatically logged out and all user data will be deleted. You can then no longer log in with this user.</p>
						<p th:text="#{user.deletePopup.question}">Do you really want to delete this user?</p>
					</div>
					<div class="modal-footer">
						<a th:href="@{/user/delete}" class="btn btn-danger" th:text="#{default.button.delete.label}">Delete</a>
						<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" th:text="#{default.button.cancel.label}">Cancel</button>
					</div>
				</div>
			</div>
		</div>

	</div>

	<th:block id="additionalJs">
		<script th:src="@{/js/user-show.js}"></script>
	</th:block>

</body>
</html>