<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout-admin :: layout-fragment(
							~{::title},
							~{::content},
							null,
							null,
							'document-box'
							)}">
<head>
	<title th:text="#{application.title-pattern(#{application.name}, #{documentBox.label.plural}+' - '+#{documentBox.add.label})}"></title>
</head>
<body>

	<div th:fragment="content">

		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			<h1 class="h2" th:text="#{documentBox.add.label}">Add document box</h1>
		</div>

		<div th:replace="~{fragments/messages :: messages-fragment(${messages})}"></div>

		<form style="padding-top: 10px;" th:object="${documentBox}" th:action="@{/document-box/save}" action="#" method="post">

			<div class="form-group row">
				<label class="col-sm-2 col-form-label text-right">
					<span class="required">*</span> <span th:text="#{documentBox.name.label}">Name</span>
				</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{name}" class="form-control" th:classappend="${#fields.hasErrors('name')} ? is-invalid">
					<div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:each="err : ${#fields.errors('name')}" th:text="${err}">validation error</div>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label text-right">
					<span th:text="#{documentBox.description.label}">Description</span>
				</label>
				<div class="col-sm-10">
					<textarea class="form-control summernote" th:field="*{description}" rows="5" th:classappend="${#fields.hasErrors('description')} ? is-invalid"></textarea>
					<div class="invalid-feedback" th:if="${#fields.hasErrors('description')}" th:each="err : ${#fields.errors('description')}" th:text="${err}">validation error</div>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label text-right">
					<span th:text="#{default.archived.label}">Archived</span>
					<span class="far fa-question-circle text-muted help-icon" id="documentBox_archived_help"></span>
				</label>
				<div class="col-sm-10 col-form-label">
					<div class="custom-control custom-checkbox">
						<input type="checkbox" th:field="*{archived}" class="custom-control-input" id="archived">
						<label class="custom-control-label" for="archived"></label>
					</div>
					<div class="invalid-feedback" th:if="${#fields.hasErrors('archived')}" th:each="err : ${#fields.errors('archived')}" th:text="${err}">validation error</div>
				</div>
			</div>
			<div class="form-group row" id="documentBox_archived_help_section" style="display: none;">
				<div class="offset-sm-2 col-sm-10">
					<div class="alert alert-light help-box">
						<span class="help-box-icon far fa-question-circle fa-lg mt-2 mr-3 mb-3"></span>
						<p th:text="#{documentBox.archived.help}">Help text</p>
					</div>
				</div>
			</div>

			<div class="form-group row">
				<div class="offset-sm-2 col-sm-10">
					<span class="required">*</span> <span th:text="#{default.form.required}">required</span>
				</div>
			</div>

			<div class="form-group row">
				<div class="offset-sm-2 col-sm-10">
					<input type="submit" class="btn btn-primary" th:value="#{default.button.save.label}" value="Save">
					<a th:href="@{/document-box/list}" class="btn btn-outline-secondary" th:text="#{default.button.cancel.label}">Cancel</a>
				</div>
			</div>

		</form>

	</div>

</body>
</html>
