<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout :: layout-fragment(
							~{::title},
							~{::content},
							null,
							null,
							'error'
							)}">
<head>
	<title th:text="#{application.title-pattern(#{application.name}, #{error.xxx.label})}">Error</title>
</head>
<body>

	<div th:fragment="content">

		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			<h1 class="h2"><span th:text="#{error.xxx.label}">Error</span></h1>
		</div>

		<p>
			<span th:text="#{error.xxx.text}">An unexpected condition was encountered:</span>
			<strong><span th:text="${error}">[error]</span> (<span th:text="${status}">[status]</span>)</strong>
		</p>
		<p>
			<span th:text="#{error.xxx.text.support}">If the problem persists, contact Support and provide the following timestamp:</span>
			<strong th:text="${#dates.format(#dates.createNow(), #messages.msg('default.dateTimeHHmmssFormat'))}"></strong>
		</p>

	</div>

</body>
</html>