<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:lang="${#locale.language}"
	th:fragment="layout-fragment (title, content, additionalStyles, additionalJs, menu)">
<head>

	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title th:replace="${title}"></title>

	<link rel="shortcut icon" th:href="@{/images/favicon.ico}"/>

	<link th:replace="~{fragments/style :: style-fragment}"/>

	<th:block th:replace="${additionalStyles} ?: ~{}"></th:block>

</head>
<body class="bg-dark">

	<section class="py-5">

		<div class="container">

			<div class="row">
				<div class="col-sm-12 offset-sm-0 col-md-10 offset-md-1 col-lg-8 offset-lg-2">

					<header class="text-white text-center mb-5">
						<span class="h1">
							<img th:src="@{/images/brand.png}" width="60" height="60" alt="">
							<span th:text="#{application.name}">[application.name]</span>
						</span>
						<p class="mt-3" th:text="#{application.subtitle}">An approach to paperless processing of personal documents.</p>
					</header>

				</div>
			</div>

			<div class="row">
			
				<div class="col-sm-12 offset-sm-0 col-md-8 offset-md-2 col-lg-6 offset-lg-3">

					<div class="card">
						<div class="card-body">
							<div th:replace="${content}"></div>
						</div>
					</div>

				</div>

			</div>

		</div>

	</section>

	<div th:replace="~{fragments/js :: js-fragment}"></div>

	<th:blcok th:replace="${additionalJs} ?: ~{}"></th:block>

</body>
</html>